<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <%= form_for(@team) do |f| %>
          <% if @team.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

                <ul>
                  <% @team.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="input-field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </div>

          <div>
            <input id="players" type="hidden" name="players_list">
          </div>

          <div class="input-field">
            <%= select("team", "sport", Sport.all.collect { |sport| [sport.name, sport.id] }, {include_blank: true}) %>
            <label id="sport_label" for="Sport">Sport</label>
          </div>

          <div id="players">
            <ul>Players List:

            </ul>
          </div>

          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Player</a>
          <br><br>
          <div class="actions">
            <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">
              <%= f.submit %>
            </button>
          </div>
          <br/>
          <div>
            <%= link_to teams_path do %>
                <i class="material-icons">settings_backup_restore</i>
            <% end %>
          </div>
      <% end %>


      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Add Player</h4>
          <%= text_field_tag 'dni', nil, id: "dni", placeholder: 'Player DNI', :required => true %>
        </div>
        <div class="modal-footer">
          <a href="#!" id="close_modal" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          <a href="#!" class="modal-action waves-effect waves-green btn-flat" id="add_player_button">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $("#close_modal").on("click", function () {
      $(".lean-overlay").css("display", "none");
    });
    $('select').material_select();
    $('.modal-trigger').leanModal();
    $("#add_player_button").on("click", function () {
      $.ajax({
        type: "PUT",
        url: "/teams/add_player",
        data: {
          dni: $("#dni").val(),
        }
      });
    });
  });
</script>