<div class="container">
  <div class="row">
    <div class="col s3 offset-s2">
      <%= form_for(@team) do |f| %>
          <% if @team.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

                <ul>
                  <% @team.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="input-field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </div>

          <div>
            <input id="players" type="hidden" name="players_list">
          </div>

          <div class="input-field">
            <%= select("team", "sport_id", Sport.all.collect { |sport| [sport.name, sport.id] }, {include_blank: true}) %>
            <label id="sport_label" for="Sport">Sport</label>
          </div>

          <% if params[:action] == "new" %>
              <div id="players">
                <ul>Players List:
                </ul>
              </div>
          <% end %>

          <div class="center-align" id="buttons_zone" >
            <%= f.file_field :image, style: "display: none" %>
            <a id="triggerFile" class="waves-effect waves-light btn"><i class="material-icons left">picture_in_picture</i>Image</a>
            <br><br>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Player</a>
            <br><br>
            <div class="actions">
              <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">
                <%= f.submit %>
              </button>
            </div>
          </div>

          <br/>

          <div>
            <%= link_to teams_path do %>
                <i class="material-icons">settings_backup_restore</i>
            <% end %>
          </div>
      <% end %>




      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Add Player</h4>
          <%= text_field_tag 'dni', nil, id: "dni", placeholder: 'Player DNI', :required => true %>
        </div>
        <div class="modal-footer">
          <a href="#!" id="close_modal" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          <a href="#!" class="modal-action waves-effect waves-green btn-flat" id="add_player_button">Add</a>
        </div>
      </div>
    </div>
    <% if params[:action] == "edit" %>
        <ul id="current_players" class="collection with-header col s4 offset-s1">
          <li class="collection-header">
            <h4>
              Captain: <%= @team.user.name %>
            </h4>
          </li>
          <!-- Team Members  -->
          <li class="collection-item"><h5>Members:</h5></li>
          <% @team.users.each do |member| %>
              <% if member.id != current_user.id %>
                  <li class="collection-item">
                    <%= "<div class='center-align row' id='#{member.id}'>".html_safe %>
                    <h5 class="col s5"><%= member.name %></h5>
                    <% if current_user.id == @team.user.id %>
                        <%= "<div class='center-align' >".html_safe %>
                        <%= link_to '<i class="col s3 material-icons icon-white ">delete</i>'.html_safe, remove_player_teams_path(team_id: @team.id, player_id: member.id), remote: true, method: :post, data: {confirm: 'Are you sure?'}, class: "btn red darken-1" %>
                      </div>
                  <% end %>
                  </div>
                  </li>
              <% end %>
          <% end %>
          </ul>
    <% end %>
    <div id="current_players" class="collection with-header col s4 offset-s1">
      <div id="wrapper" class="input-field">
        <div id="image-holder">
          <% if @team.image_file_name != nil %>
              <ul>
                <%= link_to '<i class="material-icons icon-white ">delete</i>'.html_safe, delete_image_team_teams_path(id: @team.id), remote: true, method: :post, data: {confirm: 'Are you sure?'}, class: "btn-floating waves-effect waves-light right red" %>
                <%= image_tag @team.image.url(:original), width: "99%", height: "99%" %>
              </ul>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>


    <script>
      $(document).ready(function () {
        $("#team_image").on('change', function () {
          //Get count of selected files
          var countFiles = $(this)[0].files.length;
          var imgPath = $(this)[0].value;
          var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
          var image_holder = $("#image-holder");
          image_holder.empty();
          if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof(FileReader) != "undefined") {
              //loop for each file selected for uploaded.
              for (var i = 0; i < countFiles; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                  $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image",
                    "width": "99%",
                    "height": "99%"
                  }).appendTo(image_holder);
                  $( '<%= link_to '<i class="material-icons icon-white ">delete</i>'.html_safe, delete_image_team_teams_path(id: @team.id), remote: true, method: :post, data: {confirm: 'Are you sure?'}, class: "btn-floating waves-effect waves-light right red" %>' ).insertBefore( ".thumb-image" );
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
              }
            } else {
              alert("This browser does not support FileReader.");
            }
          } else {
            alert("Please select only images");
          }
        });
      });
    </script>

    <script>
      $('#triggerFile').on('click', function (e) {
        e.preventDefault()
        $("#team_image").trigger('click')
      });
    </script>