<div class="container">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <%= image_tag @team.image.url(:large) %>
          <span class="card-title"><%= @team.name %></span>
        </div>
        <div class="card-content">
          <p>Captain:
            <b>
              <%= @team.user.name %>
            </b>
          </p>
          <p>
            dni:
            <b>
              <%= @team.user.dni %>
            </b>
          </p>
        </div>
        <div class="card-action">
          <p>Members:</p>
          <ul class="collection">
            <% @team.users.each do |member| %>
                <li class="collection-item avatar">
                  <%= link_to member do %>
                      <%= image_tag member.image.url(:thumb), class: "circle" %>
                  <% end %>
                  <p class="title"><%= member.name %>
                    , <b>dni:</b><%= member.dni %></p>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% if current_user == @team.user %>
      <%= link_to 'Edit', edit_team_path(@team), class: "btn blue lighten-2" %>
  <% end %>
  <%= link_to 'Back', :back, class: "button btn blue blue-lighten-2" %>
</div>

