<div class="container">
  <h3 class="title"><%= @installation.name %></h3>
  <h5>Sports
    <a href="#map" class="large waves-light">
      <i class="material-icons">roomm</i>
    </a>
  </h5>
  <ul class="collection">
    <% @sports.each do |sport| %>
        <li class="collection-item avatar">
          <%= image_tag "/sport.jpg", id: "sport_logo" %>
          <p><%= sport.sport.name %></p>
          <a href="/bookings/new" class="secondary-content"><i class="material-icons">av_timer</i></a>
        </li>
    <% end %>
  </ul>
  <div class="slider">
    <ul class="slides">
      <%= @installation.images.split(",").each do |image| %>
          <li>
            <%= image_tag "/installations/#{image}.jpg" %>
            <div class="caption center-align">
              <h3>ULPG installations</h3>
              <h5 class="light grey-text text-lighten-3">Book now!</h5>
            </div>
          </li>
      <% end %>
    </ul>
  </div>

  <h4 class="title">Listing comments of <%= @installation.name %></h4>

  <ul class="collection">
    <% @installation.comments.each do |comment| %>
        <li class="collection-item avatar">
          <%= link_to User.find_by_id(comment.user.id) do %>
              <%= image_tag comment.user.image.url(:thumb), class: "circle"%>
          <% end %>
          <span class="title"><%= comment.user.name %>
            , <b>dni:</b><%= comment.user.dni %></span>
          <p>
            <% if current_user == comment.user %>
                <%= link_to edit_comment_path(comment), class: "secondary-content" do %>
                    <i class="material-icons">chat_bubble</i>
                <% end %>
            <% end %>
            <%= comment.comment %>
          </p>
        </li>
    <% end %>
  </ul>
  <div>
    <%= form_for [@comment] do |f| %>
        <div class="field">
          <%= f.number_field :installation_id, value: @installation.id, style: "display:none" %>
        </div>
        <div class="field">
          <%= f.number_field :user_id, value: current_user.id, style: "display:none" %>
        </div>
        <div class="input-field">
          <%= f.label :comment %><br>
          <%= f.text_area :comment, class: "materialize-textarea", :required => true %>
        </div>
        <div class="actions">
          <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">
            <%= f.submit "Post Comment" %>
            <i class="material-icons right">mode_edit</i>
          </button>
        </div>
    <% end %>
  </div>
  <br>
  <h3 class="center">
    Map
    <a href="#" name="map" class="large waves-light">
      <i class="material-icons">room</i>
    </a>
  </h3>
  <div class="row">
    <iframe class="col s12" style="display: block; margin: 0 auto" src="<%= @installation.map_url %>" width="auto" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('.carousel').carousel();
    $('.carousel-slider').carousel();
    $('.slider').slider({full_width: true});
  });
</script>