<% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% @message.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <div class="row">
    <%= form_tag messages_path, method: :post, class: "col s12" do |f| %>
        <div class="actions input-field active col s12">
          <i class="material-icons prefix">account_circle</i>
          <%= text_field_tag :user_id, (@user != "" ? @user.dni: ''), class: "active", required: true %>
          <%= label_tag :user_id %>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">message</i>
          <%= text_area_tag :content, nil, class: "materialize-textarea", required: true %>
          <%= label_tag :content %>
        </div>
        <div class="actions input-field col s12">
          <%= submit_tag "Send", class: "btn button blue lighten-2" %>
        </div>
        </div>
    <% end %>
    </div>
</div>

<script>
  $(document).ready(function () {
    Materialize.updateTextFields();
  });
</script>