<div class="container">

  <h2 class="title">Listing delivered messages</h2>

  <ul class="collection">
    <% @messages.each do |message| %>
        <li class="collection-item avatar">
          <%= link_to User.find(message.sender) do %>
              <%= image_tag "/default_profile.jpg", class: "circle" %>
          <% end %>
          <span class="title"><%= User.find(message.sender).name %>
            , <b>dni:</b><%= User.find(message.sender).dni %></span>
          <p>
            <%= message.content %> <br>
            <%= message.date.split("+")[0] %>
          </p>
          <%= link_to new_message_path(user: User.find(message.sender).dni), class: "secondary-content" do %>
              <i class="material-icons">chat_bubble</i>
          <% end %>
        </li>
    <% end %>
  </ul>

  <h2 class="title">Listing sended messages</h2>
  <ul class="collection">
    <% @messages_sended.each do |message| %>
        <li class="collection-item avatar">
          <%= link_to User.find(message.user) do %>
              <%= image_tag "/default_profile.jpg", class: "circle" %>
          <% end %>
          <span class="title"><%= message.user.name %>
            , <b>dni: </b> <%= message.user.dni %></span>
          <p>
            <%= message.content %> <br>
            <%= message.date.split("+")[0] %>
          </p>
          <%= link_to new_message_path(user: message.user.dni), class: "secondary-content" do %>
              <i class="material-icons">chat_bubble</i>
          <% end %>
        </li>
    <% end %>
  </ul>

  <%= link_to 'New Message', new_message_path, class: "button btn blue lighten-2" %>
</div>
