<%= form_tag booking_path, method: :put, novalidate: true do %>

    <div class="container">
      <h1>Editing Booking</h1>
      <table class="bordered centered highlighted responsive-table">
        <thead>
        <tr>
          <th data-field="id">Sport</th>
          <th data-field="name">Sport Installation</th>
          <th data-field="price">Date</th>
          <th data-field="price">Start Hour</th>
          <th data-field="price">End Hour</th>
          <th data-field="price">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @booking.sports_installation.sport.name %></td>
          <td><%= @booking.sports_installation.installation.name %></td>
          <td><%= @booking.time_band.date %></td>
          <td><%= @booking.time_band.start_hour %></td>
          <td><%= @booking.time_band.end_hour %></td>
          <td>15 €</td>
        </tr>
        </tbody>
      </table>
    </div>

    <%= hidden_field_tag "sport", @booking.sports_installation.sport.id %>
    <%= hidden_field_tag "installation", @booking.sports_installation.installation.id %>

    <br>

    <div class="container">
      <div class="row">
        <div class="input-field col s12 m5">
          <input name="date" id="date" type="date" class="datepicker" required>
          <label for="date">Date</label>
          <button class="col s3 btn waves-effect waves-light" type="submit" name="action">Book!
            <i class="material-icons right">send</i>
          </button>
        </div>
        <div class="col s12 col m7" id="free_hours_table">
        </div>
      </div>
      <%= link_to 'Back', bookings_path %> |
      <%= link_to 'Show', @booking %>
      <input type="hidden" id="time_band_id" name="time_band_id">
    </div>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('.modal-trigger').leanModal();


    $('.datepicker').pickadate({
      selectMonths: false, // Creates a dropdown to control month
      selectYears: false, // Creates a dropdown of 15 years to control year
      min: new Date()
    });

    function free_hours_request() {
      $.ajax({
        url: "/bookings/free_hours_table",
        type: "GET",
        data: {
          date: $("#date").val(),
          sport_id: $('#sport').val(),
          installation_id: $('#installation').val()
        }
      });
    }

    $("#date").on("change", function () {
      if ($('#installation').val() && $('#sport').val()) {
        free_hours_request();
      }
    });

    function clearDate() {
      $("#free_hours_table").html("");
      $("#date").val("");
    }

    $('select').material_select();
  });
</script>
