<div class="container mt-30">
  <h1>Join Team Booking</h1>
  <%= form_tag add_team_to_existing_bookings_path, novalidate: true do %>

      <div class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <%= select_tag "sport", options_from_collection_for_select(@sports, "id", "name"), prompt: "Choose a sport", required: true %>
            <label for="sport">Sport</label>
          </div>
          <div class="input-field col s6 installation">
            <%= select_tag "installation", options_from_collection_for_select(Installation.all, "id", "name"), class: "installation", prompt: "Choose a installation", required: true %>
            <label for="installation">Installation</label>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="row">
          <div class="input-field col s12 m5">
            <input name="date" id="date" type="date" class="datepicker" required>
            <label for="date">Date</label>
            <button class="col s3 btn waves-effect waves-light" type="submit" name="action">Book!
              <i class="material-icons right">send</i>
            </button>
            <button data-target="select_team" class="col s7 offset-s1 waves-effect waves-light btn modal-trigger">Select
              your team
            </button>
          </div>
          <div class="col s12 col m7" id="team_bookings_table">
          </div>
        </div>
      </div>
      <input type="hidden" id="booking_id" name="booking_id">
      <input type="hidden" id="team_id" name="team_id">
  <% end %>

  <div id="select_team" class="modal blue lighten-3">
    <div class="modal-content blue lighten-3">
      <h4>Select your team</h4>
      <%= select_tag "teams", options_from_collection_for_select(Team.where(user_id: current_user.id), "id", "name"), required: true %>
      <label for="teams">My teams</label>
    </div>
    <div class="modal-footer blue lighten-3">
      <%= link_to "Ok", set_team_id_bookings_path, class: "modal-action modal-close waves-effect waves-green btn-flat", remote: true %>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {

    $("#sport").on("change", function () {
      if ($('#sport').children(":selected").attr("value")) {
        $.ajax({
          url: "/bookings/installation_options",
          method: "GET",
          data: {
            sport_id: $('#sport').children(":selected").attr("value")
          }
        });
      }
    });

    $('.datepicker').pickadate({
      selectMonths: false, // Creates a dropdown to control month
      selectYears: false, // Creates a dropdown of 15 years to control year
      min: new Date()
    });

    function team_booking_request() {
      $.ajax({
        url: "/bookings/team_bookings",
        type: "GET",
        data: {
          date: $("#date").val(),
          sport_id: $('#sport').children(":selected").attr("value"),
          installation_id: $('#installation').children(":selected").attr("value")
        }
      });
    }

    $("#date").on("change", function () {
      if ($('#installation').children(":selected").attr("value") && $('#sport').children(":selected").attr("value")) {
        team_booking_request();
      }
    });

    function clearDate() {
      $("#team_bookings_table").html("");
      $("#date").val("");
    }

    $("#sport").on("change", clearDate);
    $('select').material_select();
  });
</script>
