<p id="notice"><%= notice %></p>

<p>
  <strong>Sports installation:</strong>
  <%= @booking.sports_installation %>
</p>

<p>
  <strong>Local Team Id</strong>
  <%= @booking.away_team %>
</p>

<p>
  <strong>Away Team Id</strong>
  <%= @booking.local_team %>
</p>

<p>
  <strong>Time band:</strong>
  <%= @booking.time_band %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
